*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #FBCAFF;
}
.nav-bar{
    background-color: #FDEBF7;
    overflow: hidden;
    display: flex;
    /* display: inline; */
    justify-content: center;
    font-size: medium;
}



.nav-bar a{
    margin: 20px 50px;
    text-decoration: none;
    
    
}

.navbar a{
    text-decoration: none;
}

.content{
    height: 1fr;
}
#table{
    border:1px  solid black ;
}



footer{
    background-color: #FC28FB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    
}
.social-bar a{
    margin: 0 10px;
    text-decoration: none;

}