*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #FBCAFF;
}
.nav-bar{
    background-color: #FDEBF7;
    overflow: hidden;
    display: flex;
    /* display: inline; */
    justify-content: center;
    font-size: medium;
}



.nav-bar a{
    margin: 20px 50px;
    text-decoration: none;
    
    
}

.navbar a{
    text-decoration: none;
}

.content{
    /* background-color: #FBCAFF; */
    height: 1fr;
    /* width: 785px; */
    overflow: hidden;
}
#from{
    margin: 40px 30%;

}
form label{
    margin: 5px 10px;
}
.dept{
    margin: 0 0 0 10px;
}
.lvl{
    margin: 0 0 0 60px;
}
#image{
    margin: 0 0 0 25px;
}
.sub{
    margin: 20px 0 0 90px ;
}
/* #form input {
    margin: 20px;
} */
#employee {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
/* #employee div{
    margin: 20px 40px;
} */



footer{
    background-color: #FC28FB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    
}
.social-bar a{
    margin: 0 10px;
    text-decoration: none;

}
